doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="content-type" content="text/html")
        title 乐洗车
        link(type="text/css" rel="stylesheet" href="../app/style/public.css")
        link(type="text/css" rel="stylesheet" href="css/progress-page5.css")
        script(type="text/javascript" src="../app/lib/jquery-1.11.2.min.js")
    body
        div.container
            .wrap-out
                .w
                    .content
                        .overview
                            ul.clearfix
                                li
                                    .pic-box
                                        img(src="images/bank-icon-ansheng.png" alt="" width="52" height="52")
                                    .bank-name 中国人保
                                li
                                    .platform-price
                                        | 乐车保价：
                                        em ￥4273.12
                                li
                                    .market-price
                                        | 市场价：
                                        em ￥4913.47

                        .msg-box
                            h2.msg-tit.f18
                                i.msg-tit-icon
                                | 车辆和车主信息
                            .msg-list.clearfix
                                dl
                                    dt 车牌号：
                                    dd 浙B071WW
                                dl
                                    dt 品牌：
                                    dd 雪佛兰SGM7188ATA
                                dl
                                    dt 发动机号：
                                    dd 110890582
                                dl
                                    dt 承保城市：
                                    dd 宁波市
                                dl
                                    dt 型号：
                                    dd 轿车 2012款 SE 1.8L
                                dl
                                    dt 车辆识别代号：
                                    dd LSGPC53R2BF048598
                                dl
                                    dt 车主姓名：
                                    dd 王大牛
                                dl
                                    dt 参考价：
                                    dd ￥116900
                                dl
                                    dt 保险到期时间：
                                    dd 2017-05-30
                                dl
                                    dt 车主证件号：
                                    dd 500228198702121790
                                dl
                                    dt 是否过户：
                                    dd 是

                        .msg-box
                            h2.msg-tit.f18
                                i.msg-tit-icon.time-icon
                                | 生效时间
                            .msg-list.clearfix
                                .msg-table
                                    table(border="0" cellspacing="0" cellpadding="0").m-table
                                        thead
                                            tr
                                                th(width="55%") 商业险
                                                th 交强险
                                        tbody
                                            tr
                                                td 2016-09-15至2017-09-15时止
                                                td.f-red 未到期
                                p.tips.f-red * 红色代表有变动（下同）

                        .msg-box
                            h2.msg-tit.f18
                                i.msg-tit-icon.time-icon
                                | 车险合计
                            .msg-list.clearfix
                                .msg-list-tit
                                    | 商业险合计：
                                    em.f-red ￥4201.01
                                ul.msg-list-cont.clearfix
                                    li.msg-list-line
                                        .line-label 车辆损失险
                                        .line-select 11.421万
                                        .line-price ￥1142.79
                                    li.msg-list-line
                                        .line-label 第三方责任险
                                        .line-select 50万
                                        .line-price ￥1421.87
                                    li.msg-list-line
                                        .line-label 乘客险（4座）
                                        .line-select 1万/座
                                        .line-price ￥78.66
                                    li.msg-list-line
                                        .line-label 玻璃单独破碎险
                                        .line-select 国产
                                        .line-price ￥158.19
                                    li.msg-list-line
                                        .line-label 指定专修厂
                                        .line-select 投保
                                        .line-price ￥144.28
                                    li.msg-list-line
                                        .line-label 不计免赔（车损）
                                        .line-select 投保
                                        .line-price ￥216.42
                                    li.msg-list-line
                                        .line-label 不计免赔（司机）
                                        .line-select 投保
                                        .line-price ￥4.58
                                    li.msg-list-line
                                        .line-label 不计免赔（乘客）
                                        .line-select 投保
                                        .line-price ￥11.80
                                    li.msg-list-line
                                        .line-label 全车盗抢险
                                        .line-select 投保
                                        .line-price ￥310.32
                                    li.msg-list-line
                                        .line-label 司机险
                                        .line-select 1万
                                        .line-price ￥30.52
                                    li.msg-list-line
                                        .line-label 自燃损失险
                                        .line-select 投保
                                        .line-price ￥106.24
                                    li.msg-list-line
                                        .line-label 车身划痕险
                                        .line-select.f-red 不投保
                                        .line-price ￥0.00
                                    li.msg-list-line
                                        .line-label 不计免赔（三者）
                                        .line-select 投保
                                        .line-price ￥213.28
                                    li.msg-list-line
                                        .line-label 不计免赔（盗抢）
                                        .line-select 投保
                                        .line-price ￥62.06
                                    li.msg-list-line
                                        .line-label 不计免赔（划痕）
                                        .line-select 投保
                                        .line-price ￥0.00

                            .msg-list.clearfix
                                .msg-list-tit
                                    | 其他合计：
                                    em.f-red ￥0.00
                                ul.msg-list-cont.clearfix
                                    li.msg-list-line
                                        .line-label 交强险
                                        .line-select.f-red 不购买
                                        .line-price ￥1142.79
                                    li.msg-list-line
                                        .line-label 车船使用税
                                        .line-select.f-red 不购买
                                        .line-price ￥1421.87

                            .msg-list.clearfix
                                .msg-list-tit
                                    | 未投保险项：
                                    em.f-red 共四项
                                ul.msg-list-cont.clearfix
                                    li.msg-list-line
                                        .line-label 车辆损失险
                                        .line-select 11.421万
                                        .line-price ￥1142.79
                                    li.msg-list-line
                                        .line-label 第三方责任险
                                        .line-select 50万
                                        .line-price ￥1421.87
                                    li.msg-list-line
                                        .line-label 乘客险（4座）
                                        .line-select 1万/座
                                        .line-price ￥78.66
                                    li.msg-list-line
                                        .line-label 玻璃单独破碎险
                                        .line-select 国产
                                        .line-price ￥158.19

                        button(style="margin-bottom:30px").step-btn 确　定





