doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="content-type" content="text/html")
        title 乐洗车
        link(type="text/css" rel="stylesheet" href="../app/style/public.css")
        link(type="text/css" rel="stylesheet" href="css/progress-page1.css")
        script(type="text/javascript" src="../app/lib/jquery-1.11.2.min.js")
    body
        div.container
            .wrap-out
                .w
                    .content
                        .step-wrap
                            mixin list
                                ul.clearfix
                                    li.step-item.completed
                                        span 1
                                        | 车辆信息填写
                                    li.step-item
                                        span 2
                                        | 选择投保险种
                                    li.step-item
                                        span 3
                                        | 选择投保险企
                            +list()
                        .msg-box
                            h2.msg-tit.f18
                                i.msg-tit-icon
                                | 车辆信息填写
                            .msg-form
                                form(id="cardInfo" autocomplete="off")
                                    .field
                                        label 车辆识别代号
                                        .ipt-box
                                            input(type="text" autocomplete="off").ipt-txt
                                    .field
                                        label 注册日期
                                        .ipt-box
                                            input(type="text" autocomplete="off").ipt-txt
                                    .field
                                        label 发动机号
                                        .ipt-box
                                            input(type="text" autocomplete="off").ipt-txt
                                    .field
                                        label 是否一年内过户车
                                        .ipt-box.noborder
                                            .ipt-radio
                                                input(type="radio" name="isTransfer")
                                                | 是
                                            .ipt-radio
                                                input(type="radio" name="isTransfer")
                                                | 否
                                    .field
                                        label 厂牌型号
                                        .ipt-box
                                            input(type="text" autocomplete="off").ipt-txt
                                    .field
                                        label 交强险生效日期
                                        .ipt-box
                                            input(type="text" autocomplete="off").ipt-txt
                                    .field
                                        label 配置型号
                                        .ipt-box
                                            input(type="text" autocomplete="off").ipt-txt
                                    .field
                                        label 商业险生效日期
                                        .ipt-box
                                            input(type="text" autocomplete="off").ipt-txt
                                button(type="submit" onclick="return false").step-btn 下一步








